.nav {
    @apply p-3 bg-black text-white;
}

.search {
    @apply flex justify-center mt-5;
}

.input {
    @apply rounded-md bg-gray-200 px-3 mr-3;
}

.button {
    @apply border rounded-md flex justify-center p-3 w-36 uppercase hover:bg-blue-500 hover:text-white;
}

.list-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.card {
    border: 1px solid black;
    height: 220px;
    margin-top: 180px;
    width: 300px;
    float: left;
    background-color: rgba(233, 233, 233, 0.712);
    margin-left: 32px;
    border-radius: 5px; 
    display: flex;
    justify-content: center;
}

.card-body {
    @apply flex ;
}

.exists {
    color: green;
}

.avatar {
    display: flex;
    width: 24px;
    height: 24px;
}