.nav {
    padding: 20px;
    background-color: #cfc8a6;
}

.search {
    padding: 20px;
    display: flex;
    justify-content: center;
}

input {
    border: none;
    background: hsl(0 0% 93%);
    border-radius: .25rem;
    padding: .75rem 1rem;
}

.list-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.card {
    border: 1px solid black;
    height: 220px;
    margin-top: 180px;
    width: 300px;
    float: left;
    background-color: rgba(233, 233, 233, 0.712);
    margin-left: 32px;
    border-radius: 5px; 
    display: flex;
    justify-content: center;
}

.card-body {
    flex-grow: 4;
    flex-shrink: 1;
    flex-basis: calc(var(--modifier) * 999);
    margin-top: 16px;
    padding-right: 20px;
    margin-right: 20px;
    padding-left: 20px;
}

.exists {
    color: green;
}

.unknown {
    color: red;
}